.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100svh;
}

.services__cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    height: 60%;
}

.services__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-background-darkgray);
    border: 1px solid var(--primary-text-darkgrey);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease-in-out;
    box-sizing: border-box;
    height: 100%;
    flex: 33%;
}

.services__card:hover {
    transform: translateY(-4px);
    box-shadow: 10px 15px 10px 10px rgba(0, 0, 0, 0.35);
}

.services__card-img {
    width: 100%;
    max-height: 60%;
    object-fit: cover;
    flex: 0;
}

/* offsetting 50% right and 60% down since it doesn't line up */
/* TODO properly crop images */

.offset {
    object-position: 50% 60%;
}

.services__card-title {
    padding-top: 4%;
    flex: 1;
}

.services__card-body {
    padding: 6% 4% 4% 4%;
    flex: 1;
}

.services__card-footnote {
    padding-bottom: 4%;
    flex: 1;
}
